* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    color: black;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #23a9f2;
}

#app {
    height: 100%;
    width: 100%;
}
.logo{
    text-align: center;
    margin: 30px;
}
.index{
    border: black 2px solid;
    margin: 0 50px;
    background-color: gray;
    display: flex;
    justify-content: center;
}
.index li{
    font-size: larger;
    padding: 10px 80px;
}
.index li a{
    color: deeppink;
}